{% load static %}
 <!-- header -->
<head>
     <link rel="icon" href="{% static 'logo/PHOTOGRAM-1 (1).png' %}" type="image/png" sizes="16x16">
     <title>Photogram | @{{ request.session.username }}</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

 
 <nav class="navbar navbar-inverse">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="{% url 'index' %}">PhotoGram</a>
   </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="{% url 'index' %}">Home</a></li>
     <li><a href="{%  url 'upload' %}">Upload image</a></li>
     <li><a href="{%  url 'userdetial' %}">Find Friends</a></li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
     <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span> Profile </a></li>
     <li><a href="{% url 'login' %}?logout=logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
   </ul>
 </div>
 </nav>
 