{% load static %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'css/css.css' %}">

<script>
    {% if 'report' in request.session %}
        alert("{{ request.session.report }}");
    {% endif %}
</script>
<div class="container-fluid backgroundz">
    <div class="col-md-12 ">
        <div class="col-md-4">
            <img src="{{ dp }}" class="imgs img-circle">
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-md-6">
                    <p class="username">@{{ username }}{% ifequal verified 1 %}<img src="{% static 'logo/verify.png' %}"style="width:18px;height:18px;margin-left: 5px;">{% endifequal %}️</p>
                    <div class="row">
                        <p class="fl-left fl-margin"><span class="fl-bold fl-size">{{ post }}</span>  <span class=" blockquote">Post</span></p>
                        <p class="fl-left fl-margin"><span class="fl-bold fl-size">{{ followers }}</span> <a href="" class="h5  blockquote">Followers</a></p>
                        <p class="fl-left fl-margin"><span class="fl-bold fl-size">{{ followings }}</span> <a href="" class=" h5  blockquote">Followings</a></p>
                    </div >
                    <div class="col">
                        <p class="name">{{ name }}</p>
                    </div>
                </div>
                <div class="col-md-2 fl-left">
                        {% if following == 1 %}
                        <a href="{% url 'unfollow' %}?username={{ username }}"><button class="editpro btn">Unfollow</button></a>
                        {% else %}
                        <a href="{% url 'followzzzz' %}?username={{ username }}"><button class="editpro btn">Follow</button></a>
                        {% endif %}
                    <a href="{% url 'report' %}?username={{ username }}" ><button class="editpro btn">Report</button></a>
                </div>
            </div>
        </div>
    </div>
        
</div>