.imgz{
    width: 315px;
    height: 315px;
    margin: 20px;
}
.hre{
    
    height: 1px;
    color: rgb(119, 109, 109); 
    background-color: rgb(124, 119, 119);
}
.divcen{
    object-position: center;
    object-fit: inherit;
}
.bol{
    font-weight: bold;
}
.ims{
    padding: 5px;
    width: 22px;
    height: 22px;
}
.spn{
    font-size: 12px;
    margin: 2px;
}